
body{
    background-color: aquamarine;
}
.center{
 margin-left: 120px;
  margin-top: 50px;
  width: 50%;
  max-height: 500%;
  max-width: 400%;
  /*Comment Test*/
}

div{
  
  width: 500px;
  margin-left: 450px;
  background-color: white;
}
#first{
  margin-left: 110px;
  font-size: 140%;
  
}
#second{
 margin-left: 110px;
  
}